---
- name: Prepare 7zip installation
  delegate_to: localhost
  block:
    - name: Create staging folder
      ansible.builtin.file:
        path: '{{ staging_folder }}'
        state: directory
    - name: Download 7zip
      ansible.builtin.get_url:
        url: '{{ download_url }}'
        dest: '{{ staging_folder }}'
- name: Get file name
  ansible.builtin.set_fact:
    file_name: '{{ download_url[-14:] }}'
- name: Work on linux system
  when: ansible_facts['os_family'] | trim | lower != 'windows'
  block:
    - name: Copy file
      ansible.builtin.copy:
        src: "{{staging_folder}}/{{file_name}}"
        dest: /tmp
    - name: check the file
      ansible.builtin.stat:
        path: "/tmp/{{file_name}}"
      register: file_info
    - name: report  file information
      debug:
        var: file_info
